body {
    font-family: Arial, sans-serif;
    line-height: 1.6; 
    padding-top: 80px;         /* espaço para a nav fixa não cobrir o conteúdo*/
    background-color: #f9f9f9;
}

header {
    background-color: #daab14;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;            /* para a barra de navegação não tampar o conteúdo*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 20px;
    padding: 1px;
    text-align: center;
}

nav {
    background-color: #daab14;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1px 0;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1px 1px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #333;
}

.imagempersonagem {
    width: 400px;
    height: 300px;
}

p {
    text-align: justify;
    text-justify: inter-word; /* melhora a separação das palavras */
    line-height: 1.6;         /* aumenta o espaçamento entre linhas */
}

main {
    max-width: 900px;   /*limita a largura do conteúdo*/
    margin: auto;       /*centraliza o conteúdo horizontalmente*/
}
