* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6; 
    padding-top: 80px;         /* espaço para a nav  não cobrir o conteúdo*/
    background-color: #fccd33;
}

header {
    background-color: #daab14;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;            /* para a barra de navegação não tampar o conteúdo*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 20px;
    padding: 1px;
    text-align: center;
}

nav {
    background-color: #daab14;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1px 0;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1px 1px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #333;
}

main {
    max-width: 900px;   /*limita a largura do conteúdo*/
    margin: auto;       /*centraliza o conteúdo horizontalmente*/
}

p {
    text-align: justify;
    text-justify: inter-word; /* melhora a separação das palavras */
    line-height: 1.6;         /* aumenta o espaçamento entre linhas */
}



.video-container video {
  width: 100%;         /* Ocupa toda a largura do container */
  max-width: 720px;    /* Limita o tamanho máximo */
  height: auto;
  border-radius: 10px;
}

.rodape {
  background-color: #daab14;
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  margin-top: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer p {
  text-align: center;
}


.personagem {
  display: flex;                /* Alinha texto e imagem na horizontal */
  align-items: center;                   /* Centraliza verticalmente os itens */
  justify-content: space-between;          /* Espaça os dois lados igualmente */
  flex-wrap: wrap;                           /* Espaça os dois lados igualmente */
  gap: 20px;                                  /* Espaço entre os elementos */
  background-color: #fff;
  margin: 30px auto;                             /* Espaçamento vertical e centraliza na página */
  padding: 20px;                                /* Espaço interno dentro da caixa */
  max-width: 900px;                           /* Largura máxima do bloco */
  border-radius: 12px;                         /* Bordas arredondadas */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);          /* Sombra leve para dar destaque */
}

.personagem .info {
  flex: 1;                                /* Ocupa o máximo de espaço disponível */
  min-width: 300px;                         /* Evita que o texto fique estreito demais */
}


.personagem .info h1 {
  margin-bottom: 10px;                      
  font-size: 22px;                           
  color: #daab14;
  text-align: center;                                      
}

.personagem .info h2 {
  margin-bottom: 10px;                       /* Espaço abaixo do título */
  font-size: 22px;                           
  color: #daab14;
  text-align: center;                         /* Centraliza o título horizontalmente */                     
}

.personagem .info p {
  text-align: justify;                          /* Justifica o texto dos parágrafos */
  line-height: 1.6;                             /* Espaçamento entre linhas para leitura melhor */
}

.personagem .imagem {
  flex-shrink: 0;                                    /* Garante que a imagem não encolha demais */      
  max-width: 200px;                                  /* Limita o tamanho da imagem */
}

.personagem .imagem img {
  width: 100%;                                     /* Faz a imagem ocupar toda a largura do bloco*/
  height: auto;                                    /* Mantém a proporção da imagem */
  border-radius: 10px;                             /* Bordas arredondadas na imagem */
}

@font-face {
    font-family:OnePiece;
    src: url(/css/fonte/one\ piece\ font.ttf);
}

#titulo {
    text-align: center;
    font-size: 30px;
}

#audio {
    text-align: center;
}