* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6; 
    padding-top: 80px;         /* espaço para a nav  não cobrir o conteúdo*/
    background-color: #f9f9f9;
}

header {
    background-color: #daab14;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;            /* para a barra de navegação não tampar o conteúdo*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 20px;
    padding: 1px;
    text-align: center;
}

nav {
    background-color: #daab14;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1px 0;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1px 1px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #333;
}

main {
    max-width: 900px;   /*limita a largura do conteúdo*/
    margin: auto;       /*centraliza o conteúdo horizontalmente*/
}

p {
    text-align: justify;
    text-justify: inter-word; /* melhora a separação das palavras */
    line-height: 1.6;         /* aumenta o espaçamento entre linhas */
}

.gif1 {
  position: fixed;          /* Fixa o GIF na tela */
  top: 70px;        
  right: 20px;      /* Distância da lateral direita */
  z-index: 999;      /* Fica acima do conteúdo */
  width: 150px;
  height: auto;
  font-size: 12px;
  text-align: center;
}

.gif1 img {
  width: 100%;
  height: auto;
  display: block;
}

.gif2 {
  position: fixed;         /* Fixa no canto da tela */
  top: 70px;               /* Distância do topo */
  left: 20px;              /* Agora vai para o lado esquerdo */
  z-index: 999;
  width: 150px;
  height: auto;
  font-size: 12px;
  text-align: center;      /* Centraliza o texto abaixo da imagem */
}

.gif2 img {
  width: 100%;
  height: auto;
  display: block;     /*para não quebrar o layout*/
}

.video-container {
  display: flex;
  justify-content: center;        /* Centraliza horizontalmente */
  align-items: center;
  margin: 20px auto;
  max-width: 100%;
}

.video-container video {
  width: 100%;         /* Ocupa toda a largura do container */
  max-width: 720px;    /* Limita o tamanho máximo */
  height: auto;
  border-radius: 10px;
}

.viloes {
  width: 100%;        
  max-width: 720px;    
  height: auto;
  border-radius: 10px;
}

.lista {
  font-weight: bolder;
}